
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: rgb(106, 108, 110);
    position: relative;
  }
  
  header,
  .main-container,
  footer {
    position: relative;
    z-index: 1;
  } 
  
  header {
    height: 12vh; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(41, 39, 40);
    border: solid rgb(111, 116, 114) .3rem;
    border-radius: .3rem;
    background-color: rgb(157, 159, 162);
  }
  
  h2 {
    font-family: "Merienda", cursive;
    font-size: 1.75rem;
    border: solid rgb(71, 71, 77) .2rem;
    box-shadow: .2rem .1rem;
    border-radius: .4rem;
    padding: .3rem;
  }
  
   #toggleInstructions {
    position: relative;
    align-items: center;
  }
  
  #instructions > h4 {
     line-height: 2rem;
     font-size: 1.2rem; 
     margin-left: 1.2rem;
  }
  
  #instructions {
    font-family: "Merienda", cursive;
    font-style: normal;
    background-color: rgb(101, 104, 108);
    color: rgb(36, 41, 39);
    border: solid rgb(81, 86, 84) .3rem;
    border-radius: .5rem;
    box-shadow: .2rem .1rem;
    position: absolute;
    z-index: 20;
    top: 1rem;
    right: .5rem;
    text-align: center;
    padding: .2rem;
    width: 29vw;
  } 
  
  li {
    line-height: 1.2rem;
    font-size: .8rem;
  }
  
  #toggleInstructions:active {
    background-color: rgb(155, 165, 173);
    color: rgb(3, 39, 56);
  }
  
  #instructions ol {
    list-style-position: inside;
  }
  
  
  #toggleGroupOne,
  #toggleGroupTwo {
    border: solid rgb(104, 104, 110) .1rem;
    box-shadow: .2rem .1rem;
    border-radius: .2rem;
    padding: .3rem;
    font-family: "Merienda", cursive;
    font-size: 1.4rem;
  }
  
  #toggleGroupOne:active,
  #toggleGroupTwo:active {
    background-color: rgb(132, 137, 142);
    color: rgb(3, 39, 56);
  }

  .anton-regularWP {
    background-color: rgb(151, 160, 164);
    color: rgb(35, 36, 36);
    font-family: "Merienda", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    border: solid rgb(90, 92, 91) .1rem;
    border-radius: 1.5rem;
    padding: .5rem;
  }
  
  .permanent-marker-regular:active {
    background-color: rgb(61, 65, 68);
    color: rgb(85, 89, 88); 
  }
  
  .main-container {
    height: 142vh; 
    background-color: rgb(158, 160, 163);
    border-left: solid rgb(67, 72, 70) .3rem;
    border-right: solid rgb(100, 108, 106) .3rem; 
    border-radius: .3rem;
    background-position: center;
    background-size: cover;
  }
  
  .inner-main {
    position: relative;
    z-index: 1;
  } 
  
  .group-one,
  .group-two {   
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgb(48, 50, 50); 
    font-family: "Merienda", cursive;
  }
  
  .hidden {
    display: none;
  }
  
  h4 {
    display: flex;
    text-align: center;
    padding: .25rem;
  }
  
  .group-one > h4 {
    width: 32%;
    text-align: center;
  }
  
  .group-two > h4 {
    margin-left: 1.5rem;
    align-items: center;
    color: rgb(48, 50, 50);
  }
  
  .past-input,
  .filter-input {
    display: flex; 
    align-items: center;
  }
  
  .field-one {
    display: flex;   
    align-items: center;
    margin-top: .5rem;
  }
  
  .group-two {
    height: 33%;
  }
  
  .filter-input {
    margin-top: .3rem;
    display: flex;
    justify-content: center;
    width: 45vw;
  }
  
  #functionSelect {
    width: 15vw;
  }
  
  #letterInput {
    width: 7vw;
  }
  
  #positionInput {
    width: 8vw;  
  }
  
  #applyFilterButton {
    width: 8vw;
  }
  
  #filteredWords {
    font-family: "Volkhov", serif;
    font-size: .75rem; 
    color: rgb(17, 19, 18);
    background-color: rgb(158, 160, 163);
    padding: 1.5rem;
    text-align: justify;
  }
  
  footer {
    height: 12vh;
    border: solid rgb(77, 79, 78) .3rem;
    border-radius: .15rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(158, 160, 163);
  }
  
  #wordle-link,
  #nyt-link   {
    background-color: rgb(118, 119, 121);
    color: rgb(196, 198, 200);
    border: solid rgb(58, 58, 59);
    box-shadow: .1rem .05rem;
    border-radius: .2rem;
    padding: .2rem;
  }
  
  #wordle-link:hover,
  #nyt-link:hover {
    background-color: rgb(125, 126, 127);
    color: rgb(4, 4, 5);
  }
  
  #lookupSection {
    font-family: "Poetsen One", cursive;
    position: relative;
    color: rgb(95, 105, 98);
  }
  
  #wordList { 
    position: absolute;
    top: 35px; 
    color: rgb(77, 83, 79);
  }
  
  .numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
    
  #toggleLookupButton,
  #wordNumberInput,
  #lookupWordNumberButton {
    margin-bottom: .3rem ;
    background-color: rgb(182, 183, 185);
    border: solid rgb(85, 86, 89);
    box-shadow: .1rem .05rem;
    border-radius: .05rem;
    padding: .2rem;
    color: rgb(37, 38, 37);
  }

  #toggleAverageScoreButton {
    background-color: rgb(97, 104, 110);
    color: rgb(146, 154, 149);
  }

  #wordNumber1,
  #wordNumber2,
  #calculateAverageButton {
    background-color: rgb(113, 120, 124);
    color: rgb(119, 131, 123);
  }

  #averageScoreResult {
    color: rgb(137, 148, 141);
  }