h1 {
    display: inline-block;
    color: rgb(164, 9, 40);
    background-color: rgb(19, 19, 93);
    border: solid yellowgreen .3rem;
    border-radius: .3rem;
}
body {
    background-color: rebeccapurple;
}